parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor-prefixed
    bootstrapFiles:
        - phpstanbootstrap.php
        - autoload.php
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    scanDirectories:
        - vendor-prefixed
        - vendor/wp-cli
    ignoreErrors:
        # PHPStan show errors when filters have more than two parameters.
        - '#^Function apply_filters(_ref_array)? invoked with \d parameters, 2 required\.$#'
