parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor-prefixed
    bootstrapFiles:
        - phpstanbootstrap.php
        - autoload.php
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    scanDirectories:
        - vendor-prefixed
        - vendor/wp-cli
