.bh-wp-plugins-page-github-icon {
    background: url('https://github.com/favicon.ico'); background-size: contain; height: 14px; width: 14px; display: inline-block; vertical-align: middle; margin-top: -1px;
}

/* Indicate the plugin title can be clicked.*/
.plugin-title.column-primary>strong {
    cursor: pointer;
}