name: Build and attach releases

# for now, release name must match exactly the plugin base file's version.

on:
  release:
    types: [published]


jobs:
  release:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: bh_wp_plugins_page_tests
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    strategy:
      matrix:
        php: [ '8.4' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer, cs2pr
          extensions: ext-zip, mysqli

      - name: Update .env.testing config for GitHub Actions
        env:
          PLUGIN_SLUG: ${{ github.event.repository.name }}
        run: |
          find . -depth \( -name '.env.testing' \) -exec sed -i "s/_DB_PORT=\"33066\"/_DB_PORT=\"${{ job.services.mysql.ports['3306'] }}\"/g" {} +

      - name: Read .env.testing
        uses: c-py/action-dotenv-to-setenv@v2
        with:
          env-file: .env.testing

      - name: Install sponge
        run: sudo apt-get install moreutils

      - name: Install PHP dependencies
        run: composer install --verbose

      - name: Create plugin archive
        id: create-plugin-archive
        run: |
          composer create-plugin-archive
          echo "DIST_ARCHIVE_ABSOLUTE_FILEPATH=$(pwd)/$(ls -Art dist-archive/*.zip | tail -n 1)" >> $GITHUB_OUTPUT;

      - uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: ${{ steps.create-plugin-archive.outputs.DIST_ARCHIVE_ABSOLUTE_FILEPATH }}
          gzip: false
          allow_override: true

#      - name: Unzip release archive for SVN deployment
#        run: unzip ${{ steps.create-plugin-archive.outputs.DIST_ARCHIVE_ABSOLUTE_FILEPATH }}
#
#      - name: WordPress Plugin Deploy
#        uses: 10up/action-wordpress-plugin-deploy@stable
#        env:
#          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
#          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
#          BUILD_DIR: ./${{ env.PLUGIN_SLUG }}
